body {
    background-color: rgb(20,20,20);
    margin: 0px;
}

p {
    display: inline;
}

.bottom-border {
    height: 3px;
    width: 100vw;
    margin-left: -20px;
    margin-bottom: -30px;
    background-color: rgba(16, 16, 16, 0.5);
    border: none;
    transition: background-color 800ms;
    
}

#vertical-border {
    margin-left: -10px;
    left: 0px;
    height: 100%;
    width: clamp(3rem, 3vw, 6rem);
    position: absolute;
    background-color: rgba(16, 16, 16, 1);
    z-index: 3;
    filter: blur(1px);
}

#vertical-border-2 {
    
    margin-right: 100px;
    height: 100%;
    width: 5%;
    right: 0;
    position: absolute;
    background-color: rgba(16, 16, 16, 1);
    z-index: 3;
    filter: blur(1px);
}

.pip {
    display: inline;
    margin-left: 7px;
    font-size: xx-large;
    color: #A10004;
}



#menu {
   
    height: 97vh;
    width: 25vw;
    display: flex;
    align-items: end;
    margin-left: 15px;
    
    
    
}

.menu-item {
    color: #f3f3f1;
    font-size: clamp(2rem, 2vw, 2rem);
    font-family: 'Aboreto', cursive;

    display: inline;
    text-decoration: none;
    padding: clamp(.25rem, .5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#header-name {
    font-family: 'Aladin', cursive;
    font-size: 128px;
    margin-top: 0px;
    margin-left: clamp(2rem, 5vw, 9em);
   
    text-align: center;
    
    position: absolute;
    color: #FFB800;
    text-shadow: 1px 1px 1px #957dad,
             1px 2px 1px #957dad,
             1px 3px 1px #957dad,
             1px 4px 1px #957dad,
             1px 5px 1px #957dad,
             1px 6px 1px #957dad,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2);
    z-index: 4;
}

#menu-items {
    margin-left: clamp(1rem, 3vw, 9em);
    margin-bottom: clamp(1rem, 2.5vw, 8em);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: .15;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
    color: #FFB800;
    font-weight: 900;
}

#menu-items:hover > .pip {
    color: #f3f3f1;
    

}

#menu-items:hover > .bottom-border {
    background-color: #f3f3f1;
    

}

#menu-background-image {
    height: 100%;
    width: 100%;

    background-image: url("blue_tiger.png");

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-position: center 40%;
    background-size: 110vmax;
    opacity: .45;

    transition: opacity 800ms ease,
        background-size 800ms ease-out,
        background-position 800ms ease;
}
    

    
#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: .15;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
}
